name: Create and publish Docker images

on:
  push:
    branches:
      - 'main'
    paths:
      - 'media-backend/**'
      - 'media-frontend/**'

env:
  REGISTRY: diploma.cr.cloud.ru
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-backend:
    if: ${{ contains(github.event.head_commit.message, 'media-backend/') }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Debug repository structure
        run: |
          echo "Listing repository contents"
          ls -R
          echo "Current directory: $(pwd)"
          echo "Contents of media-backend:"
          ls -R media-backend/
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.AR_KEY }}
          password: ${{ secrets.AR_SECRET }}
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v5
        with:
          context: ./media-backend/
          push: true
          tags: ${{ env.REGISTRY }}/media_backend

  build-and-push-frontend:
    if: ${{ contains(github.event.head_commit.message, 'media-frontend/') }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Debug repository structure
        run: |
          echo "Listing repository contents"
          ls -R
          echo "Current directory: $(pwd)"
          echo "Contents of media-frontend:"
          ls -R media-frontend/
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.AR_KEY }}
          password: ${{ secrets.AR_SECRET }}
      -
