name: Create and publish Docker images

on:
  push:
    branches:
      - 'main'
    paths:
      - 'media-backend/**'
      - 'media-frontend/**'

env:
  REGISTRY: diploma.cr.cloud.ru
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-backend:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && contains(toJSON(github.event.commits.*.modified), 'media-backend/') }}
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.AR_KEY }}
          password: ${{ secrets.AR_SECRET }}
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v5
        with:
          context: ./media-backend/
          push: true
          tags: ${{ env.REGISTRY }}/media_backend

  build-and-push-frontend:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && contains(toJSON(github.event.commits.*.modified), 'media-frontend/') }}
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.AR_KEY }}
          password: ${{ secrets.AR_SECRET }}
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v5
        with:
          context: ./media-frontend/
          push: true
          tags: ${{ env.REGISTRY }}/media_frontend
