name: Create and publish Docker images

on:
  push:
    branches:
      - 'main'
    paths:
      - 'media-backend/**'
      - 'media-frontend/**'

env:
  REGISTRY: diploma.cr.cloud.ru
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Check for modified files
        id: file_check
        run: |
          echo "Checking for modified files in media-backend"
          if git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep -q '^media-backend/'; then
            echo "backend_changed=true" >> $GITHUB_ENV
          else
            echo "backend_changed=false" >> $GITHUB_ENV
          fi
      - name: Log in to the Container registry
        if: env.backend_changed == 'true'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.AR_KEY }}
          password: ${{ secrets.AR_SECRET }}
      - name: Build and push Docker image
        if: env.backend_changed == 'true'
        id: push
        uses: docker/build-push-action@v5
        with:
          context: ./media-backend/
          push: true
          tags: ${{ env.REGISTRY }}/media_backend

  build-and-push-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Check for modified files
        id: file_check
        run: |
          echo "Checking for modified files in media-frontend"
          if git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep -q '^media-frontend/'; then
            echo "frontend_changed=true" >> $GITHUB_ENV
          else
            echo "frontend_changed=false" >> $GITHUB_ENV
          fi
      - name: Log in to the Container registry
        if: env.frontend_changed == 'true'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.AR_KEY }}
          password: ${{ secrets.AR_SECRET }}
      - name: Build and push Docker image
        if: env.frontend_changed == 'true'
        id: push
        uses: docker/build-push-action@v5
        with:
          context: ./media-frontend/
          push: true
          tags: ${{ env.REGISTRY }}/media_frontend
