name: Create and publish Docker images

on:
  push:
    branches:
      - 'main'
    paths:
      - 'media_backend/**'
      - 'media_frontend/**'

env:
  REGISTRY: diploma.cr.cloud.ru
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-backend:
    if: contains(github.event.commits.*.modified, 'media_backend/')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.AR_KEY }}
          password: ${{ secrets.AR_SECRET }}
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v5
        with:
          context: media_backend/
          push: true
          tags: ${{ env.REGISTRY }}/media_backend

  build-and-push-frontend:
    if: contains(github.event.commits.*.modified, 'media_frontend/')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.AR_KEY }}
          password: ${{ secrets.AR_SECRET }}
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v5
        with:
          context: media_frontend/
          push: true
          tags: ${{ env.REGISTRY }}/media_frontend
